[Unit]
Description=AWS IoT Display
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/joedisplay
ExecStart=/usr/bin/python3 /home/pi/joedisplay/awsiot_display.py

[Install]
WantedBy=multi-user.target
